* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4fff8;
}

/* HEADER */
header {
    background: #0b3d2e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

header .logo {
    font-size: 20px;
    font-weight: 600;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 400;
}

nav a:hover {
    color: #90ee90;
}

.login-btn {
    background: #2e8b57;
    padding: 8px 15px;
    border-radius: 5px;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('mangrove.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 3px;
}

.hero h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 400;
}

/* SERVICES */
.services {
    padding: 60px 50px;
    text-align: center;
}

.services h2 {
    font-size: 35px;
    color: #0b3d2e;
    margin-bottom: 40px;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card h3 {
    color: #2e8b57;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    color: #555;
}

/* BLOG */
.blog {
    background: #e0f7fa;
    padding: 60px;
    text-align: center;
}

.blog h2 {
    color: #0b3d2e;
    font-size: 30px;
}

/* FOOTER */
footer {
    background: #5c4033;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
