/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f9f7;
    color: #333;
}

/* HEADER */
header {
    background: #2e8b57;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    flex-wrap: wrap;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login-btn {
    background: white;
    color: #2e8b57;
    padding: 5px 12px;
    border-radius: 20px;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,128,0,0.6), rgba(0,128,0,0.6)), 
                url('mangrove.jpg');
    background-size: cover;        /* WAJIB */
    background-position: center;   /* WAJIB */
    background-repeat: no-repeat;
    
    min-height: 100vh;   /* agar full layar */
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}
/* SERVICES */
.services {
    padding: 70px 5%;
    text-align: center;
}

.service-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    justify-items: center;
}

/* CARD UMUM */
.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 280px;
    min-height: 200px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    margin-bottom: 10px;
    color: #2e8b57;
}

/* AUDIO */
.card audio {
    width: 100%;
    margin-top: 15px;
}

/* ADMIN BUTTON */
.admin-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #2e8b57;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.admin-btn:hover {
    background: #256b45;
}

/* BLOG */
.blog {
    background-color: #e6f4ea;
    padding: 70px 5%;
    text-align: center;
}

/* RESPONSIVE TABLET */
@media (max-width: 992px) {
    .service-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* RESPONSIVE HP */
@media (max-width: 600px) {
    .service-box {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 100%;
    }
}
